.map{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: oldlace;
    border-radius: 10px;
    border: size 5px; ;
}

body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    font-family: 'playwrite DE SAS', sans-serif;
}